<div class="students show">
  <h2> Show student</h2>

  <table summary="Student list view">
    <tr>
      <th>first_name</th>
      <td><%= @student.first_name %></td>
    </tr>
    <tr>
      <th>last_name</th>
      <td><%= @student.last_name %></td>
    </tr>
    <tr>
      <th>email</th>
      <td><%= @student.email%></td>
    </tr>
  </table>
</div>

<%= link_to("Back To Link",{:action => 'index'}, :class => 'back_link') %>
