<!DOCTYPE html>
<html>
<head>
  <title>WebsiteProject | <%=@page_title || "Student"%></title>
</head>
<body>
  <div id="header">
    <h1>Student Details</h1>
  </div>
  <div id="main">
    <% if !flash[:notice].blank?%>
         <%= flash[:notice]%>
     <%end%>
    <div id="content">
    <%= yield %>
</div>
</div>
<div id="footer">
  <p id="copy"> @Copyrights By Ajay</p>
  </div> 
</body>
</html>

